{eunit_opts, [verbose]}.
{erl_opts, [debug_info]}.

{deps, [
        {party, ".*",
           {git, "git://github.com/GameAnalytics/party.git", {branch, "master"}}},
        {lhttpc, "",
           {git, "https://github.com/ferd/lhttpc.git", {branch, "master"}}},
        {jiffy, "",
           {git, "https://github.com/davisp/jiffy.git", {branch, "master"}}},
        {edatetime, "",
           {git, "https://github.com/GameAnalytics/edatetime.git", {branch, "master"}}},
        {erlsha2, "",
           {git, "https://github.com/vinoski/erlsha2.git", {branch, "master"}}},
        {meck, "",
           {git, "git://github.com/eproxus/meck.git", {branch, "master"}}}
       ]}.

{pre_hooks, [
    {'get-deps', "./bin/setup_dynamodb.sh"},
    {eunit, "./bin/start_dynamodb.sh"}
]}.

{post_hooks, [
    {eunit, "./bin/stop_dynamodb.sh"}
]}.
