%% -*- erlang -*- vim:se ft=erlang:

{erl_opts, [debug_info,
            warnings_as_errors
           ]}.

{eunit_opts,
 [verbose,
  no_tty,
  {report, {eunit_progress, [colored]}}
 ]
}.

{deps,
 [
  {party,     {git, "git@github.com:GameAnalytics/party.git",     {tag, "0.1.0"}}},
  {lhttpc,    {git, "git@github.com:GameAnalytics/lhttpc.git",    {tag, "1.2.9"}}},
  {jiffy,     {git, "git@github.com:GameAnalytics/jiffy.git",     {tag, "0.14.11"}}},
  {edatetime, {git, "git@github.com:GameAnalytics/edatetime.git", {tag, "1.0.1"}}},
  {base16,    {git, "git@github.com:GameAnalytics/base16.git",    {tag, "1.0.0"}}}
 ]}.


{profiles,
 [
  {test,
   [
    {deps,
     [
      {meck, {git, "git@github.com:GameAnalytics/meck.git", {ref, "69664df5d0"}}}
     ]}
   ]}
  ]}.

{pre_hooks,
 [
  {'get-deps', "./bin/setup_dynamodb.sh"},
  {eunit, "./bin/start_dynamodb.sh"}
 ]}.

{post_hooks,
 [
  {eunit, "./bin/stop_dynamodb.sh"}
 ]}.
